.profile__button-edit {
    background-image: url(../../../images/button-edit.svg);
    background-size: contain;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    padding: 0;
    background-color: black;
    margin-left: 18px;
}

.profile__button-edit:hover {
    background-image: url(../../../images/button-edit-hover.svg);
    cursor: pointer;
}

@media screen and (max-width: 515px) {
    .profile__button-edit {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}