.profile__info {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    margin-left: 30px;
    flex-wrap: wrap;
    margin-top: 4px;
}    

@media screen and (max-width: 515px) {
    .profile__info {
        margin: 0;
        margin-top: 26px;
        justify-content: center;
        max-width: 282px;
        align-items: center;
    }
}