.element__button-delete {
    background-image: url(../../../images/button-delete.svg);
    position: absolute;
    top: 18px;
    right: 15px;
    background-size: cover;
    width: 18px;
    height: 19.3px;
    border: 0;
    outline: 0;
    background-color: transparent;
    padding: 0;
    }
    
.element__button-delete:hover {
    opacity: 0.5;
    cursor: pointer;
}
