.footer {
    font-size: 18px;
    line-height: 22px;
    padding-top: 67px;
    padding-bottom: 60px;
    max-width: 880px;
    margin: auto;
    color: #545454;
}

@media screen and (max-width: 930px) {
    .footer {
    margin-left: 20px;
    }
}

@media screen and (max-width: 515px) {
    .footer {
    padding-top: 48px;
    padding-bottom: 36px;
    font-size: 14px;
    line-height: 17px;
    }
}